In [8]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
Ans.
import pandas as pd
data=[4,8,15,16,23,42]
s=pd.Series(data)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
Ans.
data1=["hello",12,34,56,"xyz","abc",67,98,"mno","bye"]
s=pd.Series(data1)
print(s)

0    hello
1       12
2       34
3       56
4      xyz
5      abc
6       67
7       98
8      mno
9      bye
dtype: object

In [10]:
Q3. Create a Pandas DataFrame that contains the following data:
    Then, print the DataFrame.
Ans.
data2={"Name":["Alice","Bob","Claire"],
       "Age":[25,30,27],
       "Gender":["Female","Male","Female"]}
s=pd.DataFrame(data2)
print(s)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans.
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
# Difference between DataFrame and Series
A Series is an analog of a one-dimensional array with flexible indices, whereas
A DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.
# Example
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print("Series:")
print(df.loc[0])
print(type(df.loc[0]))
print(type(df))

DataFrame:
   calories  duration
0       420        50
1       380        40
2       390        45
Series:
calories    420
duration     50
Name: 0, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans.
All Pandas data structures i.e. Series, DataFrame and Panel are value mutable (can be changed) and except Series all are size mutable.

In [4]:
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans.
1.head() and tail() ---> Head and tail allow us to display rows from the top of bottom of data frame, respectively.5 rows are displayed by default 
2.DataFrame.info( ) ---> To get a quick overview of the dataset we use the dataframe.info() function. It is used to get a concise summary of the dataframe.
3.dtypes() ---> Dtypes shows the data type of each column.
4.describe() ---> The describe() method will do a quick statistical summary for every numerical column
5. loc() and iloc() ---> loc and iloc are used to select rows and columns.
                         loc: select by labels
                         iloc: select by positions